
.about_div{
  background-color: #000;
  text-align: center;
  padding: 1px;  
  margin: -8px;

}
.about{
  
  color: #fff;
  font: 15px; 
  font-family: sans-serif;
}
.content_div{
  margin-top: 30px;
  color: #000;
  font-family: sans-serif;
  text-align: center;
  padding-left: 20%;
  padding-right: 20%;
}
.who{
  font-size: 30px;
  margin-bottom: -5px;
  
}
.content_text{
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 500;
}
.img_div{
  width: 700px;
  height: 400px;
 margin: auto;
margin-bottom: -35px;
  object-position: center;
  object-fit: cover;}
  
.imag{
  width: 700px;
  height: 350px;
}
.mission_div{
  margin-top: 50px;
  margin-bottom: 40px;
  font-size: 20px;
  margin-left: 10%;
  margin-right: 10%;
  color: #000;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
  border-bottom: 5px solid rgba(23, 3, 3, 0.63);
  
}
.mission{
  font-size:  30px;
  margin-bottom: -5px;
  background-color: #000;
  color: #fff;
  padding: 8px;

}
.pic_div{
  object-fit: contain;
}

.card{
  width:400px;
  box-shadow: 0px 0px 3px black ;
  display: inline-block;
  text-align: center;
 margin-right: 10%;
 margin-left: 5%;
  margin-bottom: 40px;
  padding: 7px;
  font-family: Georgia, 'Times New Roman', Times, serif;


}
.team1pic{
  width:180px;
    height: 150px;
    object-fit: cover;
    object-position: top;
    margin-bottom: 0px;
}
.team_div{

  margin-left:15%;
  margin-right: 5%;

}
.text1{
  margin: 4px;
  font-size: large;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.teamt{
  text-align: center;
  background-color: #000;
  color: #fff;
  height: 50px;
  padding: 5px;
  margin-right: 80px;

}
.qdiv{
  width:700px;
  display: inline-block;
 margin-left: 2%;
  margin-bottom: 40px;
  padding: 2px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.qborder{
  border-bottom: 5px solid rgba(23, 3, 3, 0.63);
  margin-left:10% ;
  margin-right: 10%;

}
.qborder2{
  border-bottom: 5px solid rgba(23, 3, 3, 0.63);
  margin-left:-5% ;
  margin-right: 7%;

}
.head1{
  text-align: center;
  margin-bottom: 30px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 35px;
  background-color: #000;
  color: #fff;
  margin-left: 15%;
  margin-right: 15%;
  padding: 15px;


  vertical-align: middle;
}

.loc{

  width:300px;

  display: inline-block;
  text-align: center;
 margin-right: 10%;
 margin-left: 10%;
  margin-bottom: 40px;
  padding: 0px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.text3{ 
  margin-top:-10px;
  font-weight: lighter;
  color: rgb(87, 86, 86);
}
.head2{
  text-align: center;
  margin-bottom: 30px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 35px;
  background-color: #000;
  color: #fff;
  margin-left: 15%;
  margin-right: 15%;
  padding: 10px;


  vertical-align: middle;

}